<!DOCTYPE html>
<html>
<head>
  <title>Portfolio</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
  <%= csrf_meta_tags %>
</head>
<body>

  <nav class='light-blue darken-2'>
    <div class='nav-wrapper container'>
      <span class='brand-logo'>
        <strong>&lsaquo;RC&rsaquo;</strong>
      </span>
      <ul class='right hide-on-med-and-down'>
        <li><%= link_to 'Home', action: "home" %></li>
        <li><%= link_to 'About', action: "home" %></li>
        <li><%= link_to 'Projects', action: "home" %></li>
        <li><%= link_to 'Contact', action: "home" %></li>
      </ul>
    </div>
  </nav>

<%= yield %>

</body>
</html>
